* { box-sizing: border-box; }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
    color:blue;
    padding: 0px;
    margin: 0;
}

button {
    margin: 5px 0px;
}


.container {
    display: flex;
    flex-wrap: wrap;
    min-height: 960px;
    min-width: 960px;
    max-height: 960px;
    max-width: 960px;

}

.squares {
    
    background-color: gray;
}