* { box-sizing: border-box; }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.663);
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 960px;
}
h1 {
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(200, 200, 200);
    padding: 0px;
    margin: 0;
}

button {
    margin: 5px 0px;
}




.container {
    display: flex;
    flex-wrap: wrap;
    min-height: 850px;
    min-width: 850px;
    max-height: 850px;
    max-width: 850px;
    box-shadow: black 15px 15px 50px;

}

.squares {
    
    background-color: gray;
}